* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #525559;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

header {
  width: 100%;
  height: 50px;
  background-color: black;
}

header i {
  color: #4ad637;
  font-size: 40px;
}

section {
  height: calc(100vh - 50px);
  width: 100%;
  /* per le varie card */
}

section .card {
  background-color: black;
  width: 200px;
  text-align: center;
  margin: 10px 0;
  height: 270px;
  padding-top: 15px;
}

section .card img {
  width: 150px;
  margin: 0 auto;
  height: 150px;
}

section .card h4,
section .card h5 {
  color: white;
}

section .card h4 {
  padding: 5px 0 10px;
}

section .card h5 {
  opacity: 0.6;
}

