* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #525559;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
}

header {
  width: 100%;
  height: 50px;
  background-color: black;
}

header .header-left {
  width: 50%;
  float: left;
}

header .header-left i {
  color: #4ad637;
  font-size: 40px;
}

header .header-right {
  width: 50%;
  float: left;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

header .header-right select {
  width: 150px;
  height: 30px;
  margin: 0 15px;
}

header .header-right a {
  text-decoration: none;
  padding: 7px 20px;
  color: black;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
}

header .header-right input {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

header .header-right span {
  color: white;
}

section {
  height: calc(100vh - 50px);
  width: 100%;
}

section .card {
  background-color: black;
  width: 200px;
  text-align: center;
  margin: 10px 17px;
  height: 270px;
  padding-top: 15px;
}

section .card img {
  width: 150px;
  margin: 0 auto;
  height: 150px;
}

section .card h4,
section .card h5 {
  color: white;
}

section .card h4 {
  padding: 5px 0 10px;
}

section .card h5 {
  opacity: 0.6;
}

